@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;1,700;1,800&family=Raleway:wght@400;600;700;900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body{
  font-size: 16px;
  background-color: #f6f8fa;
}

.align_center{
  display: flex;
  align-items: center;
}

a{
  font-size: inherit;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.navbar_links{
  font-size: 20px;
}

.navbar_links > a {
  margin: 15px;
}

.cart_counts{
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  color: white;
  background-color: blue;
  font-size: 15px;
  margin-left: 5px;
}